
.header{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px dashed rgb(22, 145, 145);
    justify-content: space-between;
    width: 90%;
}

.text{
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1rem;
    color: rgb(22, 145, 145);
}

.icon{
    color: rgb(22, 145, 145);
    

}

